/shelf/
/workspace.xml

/httpRequests/

/dataSources/
/dataSources.local.xml

*.class

*.log

*.ctxt

*.jar

*.iml
.idea/
*.iws
*.ipr

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

out/

.DS_Store